<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">

</head>

<body ng-app="myApp">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="bloghome.html">Our Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="bloghome.html">Home
                <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blogprofile.html">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blognewpost.html">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bloglogin.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Posts
            <small></small>
          </h1>

        <div ng-controller="BlogHomeController">

          <!-- Blog Post -->
          <div class="card mb-4" ng-repeat="p in posts">
            <div class="card-body">
              <h2 class="card-title">{{p.title}}</h2>
              <a href="#" class="btn btn-primary" ng-click="showpost($index)">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{p.dateTime | date: 'medium'}} by
              <a href="#">{{p.user.name}}</a>
            </div>
          </div>

        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">


        <!-- Categories Widget -->
        <div class="card my-4" ng-controller="TopicController">
          <h5 class="card-header">Topics</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li ng-repeat="t in topics">
                    <a href="#">{{t.topicName}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; OUR BLOG 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/js/angular.min.js"></script>
  <script src="vendor/js/bloghome.js"></script>

</body>

</html>
